/* ---- reset ---- */
body{ margin:0; }
.container-fluid { font-family: 'Lato', sans-serif; background-color: black;}
canvas{ display: block; vertical-align: bottom; }

#project-description{
  color: white;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 25px;

  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}
#project-description a{
  font-weight: bold;
  color      : white;
  text-decoration: none;
}

/* ---- particles.js container ---- */
#particles-js{
  position:absolute; width: 100%; height: 100%; background-color: #000018;
  background-image: url("http://blueit.com.pl/images/background.jpg");
  background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;
}
